.hero {
    /* width: 100%; */
    margin: 0rem 5rem;
    padding: 80px 16px;
    text-align: center;
    background: #ffffff;
}

.hero-container {
    max-width: 800px;
    margin: 0 auto;
}

.hero-title {
    font-size: 42px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 12px;
}

.hero-subtitle {
    font-size: 18px;
    color: #64748b;
}