.header {
    /* width: 100%; */
    margin: 0rem 5rem;
    border-bottom: 1px solid #e6e6e6;
    /* border-bottom: 1px solid #000000; */
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}


.logo-icon {
    src: url();
    width: 24px;
    height: 24px;
    background: #2563eb;
    border-radius: 50%;
}


.logo-text {
    font-size: 20px;
    font-weight: 600;
}


.nav {
    display: flex;
    gap: 24px;
}


.nav a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s;
}


.nav a:hover {
    color: #000;
}


.btn-group {
    display: flex;
    gap: 12px;
}


.btn {
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
}


.btn.primary {
    background: #2563eb;
    color: white;
}


.btn.primary:hover {
    background: #1e4fcf;
}


.btn.outline {
    background: white;
    border: 1px solid #ccc;
}

.btn.outline:hover {
    background: #f5f5f5;
}