.header {
    width: 100%;
    /* border: 1px solid black; */
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 18px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 24px;
    height: 24px;
    padding: 10px;
    content: url(../../assets/Logo.png);
}

.logo-text {
    font-size: 22px;
    font-weight: 600;
    color: #1f2937;
    text-decoration: none;
}

/* Navigation */
.nav {
    display: flex;
    gap: 32px;
}

.nav a {
    color: #6b7280;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.nav a:hover {
    color: #111827;
}

/* Buttons */
.btn-group {
    display: flex;
    gap: 14px;
}

.btn {
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.btn.primary {
    background: #2563eb;
    color: white;
}

.btn.primary:hover {
    background: #1e4fcf;
}

.btn.outline {
    color: #2563eb;
    border: 1px solid #2563eb;
    background: white;
}

.btn.outline:hover {
    background: #edf2ff;
}