/* Footer.css */
.footer {
    /* width: 100%; */
    margin: 0rem 5rem;
    background: #0f172a;
    color: #e2e8f0;
    padding: 50px 20px 20px;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer-logo {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
}

.footer-desc {
    margin-top: 10px;
    color: #cbd5e1;
    font-size: 15px;
}

.footer-links h3,
.footer-contact h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #ffffff;
}

.footer-links a {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: #cbd5e1;
    transition: 0.2s;
}

.footer-links a:hover {
    color: #ffffff;
}

.footer-contact p {
    margin-bottom: 6px;
    color: #cbd5e1;
    font-size: 15px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #1e293b;
    font-size: 14px;
    color: #94a3b8;
}

/* Responsive */
@media(max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}