.register-container {
    display: flex;
    /* width: 100%; */
    margin: 0rem 5rem;
    height: 90vh;
    background: #f5f6fa;
    padding: 20px;
    gap: 20px;
}

.register-left,
.register-right {
    width: 50%;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* LEFT SIDE EXACT FIX */
.register-left {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* <-- centers vertically */
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 40px;
    background: #3b82f6;
    padding: 10px;
    border-radius: 12px;
    color: white;
}

.register-left h1 {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
}

.register-left p {
    margin-top: 6px;
    color: gray;
}

.register-right {
    padding: 0px 70px;
}

.register-right h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 6px;
}

.subtitle {
    color: gray;
    margin-bottom: 28px;
}

/* INPUT GRID */
.row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 16px;
}

.row input {
    width: 50%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 16px;
    outline: none;
}

/* PASSWORD BOX */
.password-box {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.password-box input {
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
    font-size: 16px;
}

/* BUTTON */
.register-btn {
    width: 100%;
    padding: 14px;
    background: #3b82f6;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* BOTTOM TEXT */
.bottom-text {
    margin-top: 14px;
    text-align: center;
}

.login-link {
    color: #3b82f6;
    font-weight: 600;
}